.intro {
  border: 1px solid red;
}
.intro button {
  background-color: red;
  border-color: red;
  color: white;
}
.intro button:hover {
  background-color: white;
  border-color: red;
  color: red;
}
.pokefont {
  font-family: 'Pokemon Solid', sans-serif;
}
