.intro {
  border: 1px solid #dc3545;
}
.intro button {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white;
}
.intro button:hover {
  background-color: white;
  border-color: #dc3545;
  color: #dc3545;
}
.pokefont {
  font-family: 'Pokemon Solid', sans-serif;
}
